<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="/{{ asset_path ~ theme }}/ico/favicon.png">

	<title>{% if not title is empty %}{{ title }} &raquo; {% endif %}{{ site_name }}</title>

	{% block head %}
	<link rel="stylesheet" href="/{{ asset_path ~ theme }}/css/style.css" title="Indigo theme">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/{{ asset_path ~ theme }}/js/lib/html5shiv.js"></script>
		<script src="/{{ asset_path ~ theme }}/js/lib/respond.min.js"></script>
	<![endif]-->
	{% endblock %}

	</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				{# <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> #}
				<a class="navbar-brand" href="">{{ site_name }}</a>
			</div>
		</div>
		<!-- </div> -->
	</div>

	{% block content %}{% endblock %}

	<div class="container">
		<hr>
		<footer>
			{% set version = '0.1-dev' %}
			<div class="pull-left"><a href="">IndigoPHP</a> is released under the MIT license.<br><small>Version: {{ version }}</small></div>
			<div class="pull-right">Page rendered in {exec_time}s using {mem_usage}mb of memory.</div>
		</footer>
	</div>


	{% block javascript %}
	<script src="/{{ asset_path ~ theme }}/js/lib/jquery.min.js"></script>
	<script src="/{{ asset_path ~ theme }}/js/lib/jquery-migrate.min.js"></script>
	<script src="/{{ asset_path ~ theme }}/js/lib/bootstrap.min.js"></script>
	{% endblock %}

	<script type="text/javascript">
		$(document).ready(function() {
			{% block documentready %}{% endblock %}
		});
	</script>
</body>
</html>
