<form action="{{ base_url() }}admin/enums/{{ action }}_item/{{ action == 'create' ? enum.id : model.id }}" class="form-horizontal" method="post" role="form">
	<div class="panel panel-{{ action == 'create' ? 'success' : 'info' }}">
		<div class="panel-heading">
			<div class="panel-title">{% trans 'Enum item details' %}</div>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">{% trans 'Name' %}</label>
				<div class="col-sm-10">
					<input name="name" type="text" value="{{ model.name }}" class="form-control" id="inputName" placeholder="{% trans 'Name' %}" required />
				</div>
			</div>
			<div class="form-group">
				<label for="inputDescription" class="col-sm-2 control-label">{% trans 'Description' %}</label>
				<div class="col-sm-10">
					<textarea name="description" value="{{ model.description }}" class="form-control" id="inputDescription" style="max-width: 100%; min-width: 50%; min-height: 70px;" placeholder="{% trans 'Description' %}" /></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="inputActive" class="col-sm-2 control-label">{% trans 'Active' %}</label>
				<input name="active" type="hidden" value="0">
				<div class="col-sm-10">
					<div class="make-switch switch-large" tabindex="0" data-on-label="{% trans 'YES' %}" data-off-label="{% trans 'NO' %}">
						<input name="active" type="checkbox"{% if (model.active|default(true)) == true %} checked{% endif %} value="1" id="inputActive">
					</div>
				</div>
			</div>
		</div><!-- /.panel-body -->
		<div class="panel-footer">
			<button type="submit" class="btn btn-success" id="form-button-save">{% trans 'Save' %}</button>
		</div>
	</div><!-- /.panel -->
</form>